[Desktop Entry]
Name=Retro
Exec=re.sonny.Retro
Icon=re.sonny.Retro
Terminal=false
Type=Application
Categories=GTK;GNOME;Education;Utility;Amusement;Clock;
StartupNotify=true
