#window {
  background-color: #ff7800;
  padding: 16px;
  border: solid 8px black;
}

#foreground,
#background {
  font-family: DSEG7 Classic;
  color: #222222;
  font-size: 128px;
}

#foreground {
  opacity: 1;
}

#background {
  opacity: 0.2;
}

menubutton image {
  color: black;
}
